
.jumbotron{
   padding-top: 6rem;
    background-color:grey;
    
}

#projects{

    background-color: grey;
}


#about,#projects,#contact{
    padding-top: 11rem;
}

.my-alert{
    background-color: dark;
}

.gallery-img{
    width: 100%;

}
